* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
color: #fff;
background-color: #5995DA;  /* Blue */
padding: 20px 0;
display: flex;
justify-content: center;

}

.middlebox {
border: 1px solid #000; /*for debugging*/
width: 600px;
height: 500px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
background-color: #FFF;
}

.resumePhoto {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.myTitles {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #000; /*debugging*/
	
}

.myName {
	font-size: 40px;
	color: #000;
}

hr {
	width: 70%;
	color: #000;
}

.JobTitle{
	font-size: 20px;
	color: #000;
}

.links {
	display: flex;
	flex-direction: row;
	border: 1px solid #000; /* dubug*/
	justify-content: space-between;
}

.GitHubLogo {
	width: 75px;
	height: 75px;
}

.ResumeLogo {
	width: 75px;
	height: 80px;
}

.LinkedInLogo {
	width: 75px;
	height: 75px;
}