* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container,
html,
body {
	height: 100%;
	margin: 0;
}

.container {

	background-color: #5995DA;
	/* Blue */
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.middlebox {

	width: 70%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #FFF;
	box-shadow: -10px 10px 50px -10px black;
	/* x-value yvalue blur-radius (higher number is more blur) spread radius (how far out to spread)
*/
}

.left,
.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.left {
	width: 60%;
}

.right {
	width: 40%;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 25px;
	overflow-y: auto;
	border-left: 1px solid black;
}

.right>* {
	margin: 10px 10px 5px 10px;
}

.right>hr {
	margin: 10px 10px 25px 10px;
	width: 100%;
}




.resumePhoto {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	box-shadow: 0px 0px 15px 0px black;
}

.myTitles {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-grow: .2;
	align-self: center;
}

.myName {
	font-size: 40px;
	color: #000;
}

hr {
	width: 80%;
	border-color: #C0C0C0;
}

.JobTitle {
	font-size: 30px;
	color: #000;
}

.links {
	display: flex;
	flex-direction: row;
	width: 70%;
	justify-content: space-around;
}

.GitHubLogo {
	width: 75px;
	height: 75px;
}

.ResumeLogo {
	width: 65px;
	height: 80px;
}

.LinkedInLogo {
	width: 75px;
	height: 75px;
}